{% extends 'hospital/homebase.html' %}
<!--
developed By : sumit kumar
facebook : fb.com/sumit.luv
youtube : youtube.com/lazycoders
-->

{% block content %}

<br>
<br>


<div class="jumbotron" style="margin-bottom:0px;     font-family: 'SF Pro Display', sans-serif; background-color: rgb(114, 18, 1);color: rgb(255 245 245);">
  <h1 class="display-4" style="text-align:center;"><b><b>DOCTOR</b></b></h1>
  <p class="lead">Managing the Patients, Managed by Admins </p>
  <hr class="my-4">
  <p><b>Precision, Availability, Health</b></p>
  <p class="lead">
    <a class="btn btn-primary btn-lg " href="/doctorsignup" role="button" style="background-color: #d1d1d1; border-color: #d1d1d1 ;color: #7f0000;font-size: 1rem;"><b>Sign Up</b></a>
    <a class="btn btn-primary btn-lg" href="/doctorlogin" role="button" style="background-color: #d1d1d1; border-color: #d1d1d1 ;color: #7f0000;font-size: 1rem;"><b>Login</b></a>
  </p>
</div>

{% endblock content %}
