.my-card {
  display: flex;
  flex-direction: column;
}

.like img {
  width: 25px;
  cursor: pointer;
}

.edit {
  cursor: pointer;
}

.post {
  white-space: pre-wrap;
  background-color: #d6d7f2;
  font-family: 'SF Pro Display', sans-serif;
  padding: 20px;
  border-radius: 15px;
}

body{
  background-color: #dcdcfa;
  background: url("brett-jordan-s15SpJwIScw-unsplash.jpg");
}

.card{
  background-color: #e6e6e6;
}

.navbar-bg-dark{
  background-color: #bebebe;
}
